services:
  whisper:
    image: whisper
    container_name: whisper
    restart: always
    ports:
      - "5001:5001"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5001/health || exit 1" ]
      interval: 2m30s
      timeout: 10s
      retries: 3
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]